.footer {
  width: 100%;
  padding-top: 30px;
  border-top: 1px solid black;

  .container {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: space-between;
  }

  &-logos {
    display: flex;
    flex-flow: column wrap;
  }

  &-logos__group {
    display: flex;
    flex-flow: row wrap;
    margin-top: 30px;
  }

  &-logos__item {
    margin: 0 20px;

    &.impic img {
      width: 73px;
    }

    &.ruis img {
      width: 60px;
    }

    &.aiccopn img {
      width: 204px;
    }
  }

  h2 {
    margin: 0 0 20px;
  }

  &-contactos__item {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    line-height: 1.6;
  }

  &-escritorio {
    p {
      margin: 0;
    }

    line-height: 1.6;
  }

  a {
    color: black;

    &:link,
    &:visited {
      color: black;
      text-decoration: none;
    }

    &:hover,
    &:focus {
      color: $maroon;
    }
  }

  .subfooter {
    color: white;
    background-color: $stiletto;

    .container {
      align-items: center;
    }

    &-icons a {
      margin-right: 24px;
    }

    &-icons a img {
      width: 36px;
    }
  }
}
