.footer {
  width: 100%;
  padding-top: 30px;
  border-top: 1px solid black;

  .container {
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
    padding-bottom: 40px;

    @media (min-width: $screen-sm) {
      flex-direction: row;
      justify-content: space-between;
      padding-bottom: 15px;
    }
  }

  h2 {
    margin: 0 0 20px;
    line-height: 1.6em;
  }

  &-contactos__item {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    line-height: 1.6;
  }

  &-escritorio {
    margin-bottom: 40px;

    p {
      margin: 0;
    }

    line-height: 1.6;
  }

  &-logos {
    display: flex;
    flex-flow: column wrap;

    &__group {
      display: flex;
      flex-flow: row wrap;
      margin-top: 30px;
    }

    &__item {
      margin-right: 40px;
      margin-left: 0;

      @media (min-width: $screen-sm) {
        margin: 0 20px;
      }

      &.impic img {
        width: 73px;
      }

      &.ruis img {
        width: 60px;
      }

      &.aiccopn img {
        width: 204px;
      }
    }
  }

  a {
    color: black;

    &:link,
    &:visited {
      color: black;
      text-decoration: none;
    }

    &:hover,
    &:focus {
      color: $maroon;
    }
  }

  .subfooter {
    color: white;
    background-color: $stiletto;

    .container {
      @media (min-width: $screen-sm) {
        align-items: center;
      }
    }

    &-icons a {
      margin-right: 24px;
    }

    &-icons a img {
      width: 36px;
    }
  }
}
