@import './header';
@import './footer';
@import './container';

body,
html {
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
  font-size: 100%;
  overscroll-behavior-y: contain;
  font-feature-settings: none;
  font-variant-ligatures: none;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

#__next > div {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.page-wrapper {
  flex: 1;
}

a {
  color: $stiletto;
  transition: color 0.2s ease-in;

  &:link,
  &:visited {
    color: ​$stiletto;
    text-decoration: none;
  }

  &:hover,
  &:focus {
    color: Maroon;
  }
}

.reset-button {
  padding: 0;
  background: none;
  border: none;
  outline: none;
  box-shadow: none;
}
