.container {
  width: 100%;
  max-width: 100%;
  padding: 15px;
  margin: 0 auto;

  @media (min-width: $screen-xs) {
    max-width: 540px;
  }

  @media (min-width: $screen-sm) {
    max-width: 720px;
  }

  @media (min-width: $screen-md) {
    max-width: 960px;
  }

  @media (min-width: $screen-lg) {
    max-width: 1200px;
  }
}
