.obra-thumbnail {
  position: relative;
  display: flex;
  overflow: hidden;
  border-radius: 6px;

  img {
    width: 100%;
  }

  .project-info {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 20px;
    color: white;
    pointer-events: none;
    background-color: $red;
    background-image: linear-gradient(88.67deg, #f6003b 31.2%, #ff5943 107.45%);
    border-radius: 100%;
    transition: all 0.3s ease-in-out;
    transform: translate(100%, 100%);

    &__inner {
      display: flex;
      flex-flow: column wrap;
      width: 100%;
      height: 100%;
      opacity: 0;
      transition: all 0.3s ease-in-out;
      transform: translate(100px, 100px);

      &-cta {
        margin-top: auto;
        margin-bottom: 0;

        span {
          color: white;
          text-decoration: underline;
        }
      }
    }

    h2 {
      font-size: 24px;

      @media (min-width: $screen-md) {
        font-size: 32px;
      }
    }

    h2,
    p {
      margin: 0 0 10px;
      color: white;
    }
  }

  &:hover {
    .project-info {
      pointer-events: auto;
      border-radius: 0;
      transform: translate(0, 0);

      &__inner {
        opacity: 1;
        transform: translate(0, 0);
      }
    }
  }
}
