@import 'slick-carousel/slick/slick.css';
@import 'slick-carousel/slick/slick-theme.css';

.slideshow__slide {
  position: relative;
  width: 100%;
  height: 410px;
  overflow: hidden;
  border-radius: 6px;

  @media (min-width: $screen-md) {
    height: 550px;
  }

  img {
    position: relative;
    width: 100%;
    height: 100%;

    @include object-fit(cover, center);
  }
}

.slick-slider {
  margin-bottom: 50px;
}

.slick-slide {
  border-radius: 3px;
}

.slick-prev,
.slick-next {
  &::before {
    color: $stiletto;
  }
}

.slick-dots {
  right: 0;
  bottom: -30px;
  left: 0;
  display: inline-block;
  width: auto;

  li button::before {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: auto;
    content: '';
    background-color: $lightgrey;
    border: none;
    border-radius: 50%;
    opacity: 1;
    transition: opacity 0.3s ease-in;
  }

  li,
  li > button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 10px;
    height: 10px;
    padding: 0;
    font-size: 0;
    line-height: 0;
    content: none;
  }

  li {
    margin: 0 6px;
    transition: opacity 0.3s ease-in-out;

    &:hover,
    &:focus {
      opacity: 0.3;
    }

    &.slick-active button::before {
      background-color: $black;
    }
  }
}

.slick-arrow {
  z-index: 3;
  width: 40px;
  height: 40px;
  background-color: white;
  border: 1px solid $grey;
  border-radius: 50%;
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.04);
  transition: box-shadow 0.2s ease-in-out;

  &:hover,
  &:focus {
    background-color: white;
  }

  &:hover {
    box-shadow: 0 4px 6px rgba(0, 5, 10, 0.2);
  }

  &::before {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    content: '';
    background-repeat: no-repeat;
    background-size: 8px auto;
  }

  &.slick-prev {
    left: 24px;

    &::before {
      background-image: url('/images/chevron-left.svg');
      background-position: 48% 50%;
    }
  }

  &.slick-next {
    right: 24px;

    &::before {
      background-image: url('/images/chevron-right.svg');
      background-position: 52% 50%;
    }
  }
}
