.slideshow {
  display: inline-block;
  width: 100%;
  margin: 40px auto;

  &__slide {
    position: relative;
    width: 100%;
    height: 550px;
    overflow: hidden;
    border-radius: 3px;

    img {
      width: 100%;

      @include object-fit(cover, center);
    }
  }
}
