body{
	font-family: "Roboto", sans-serif;
	margin-left: 0;
}

/*Linking header setup*/
header{
	font-size: 20px;
	margin: 50px 0 0 0;
	display: flex;
}

nav{
	margin: auto;
}

ul{
	border-style: solid;
	border-width: 2px;
	border-color: rgb(160, 53, 52);
	padding-right: 10px;
	padding-left: 10px;
}

li{
	display: inline-block;
	margin: 2px 2px;
}

a:link{
	color: rgb(160, 53, 52);
	text-decoration: none;
}

a:visited{
	color: rgb(160, 53, 52);
	text-decoration: none;
}

a:hover{
	color: Maroon;
}

/*Logo in header*/
.logo{
	margin: auto;
	/*width: 200px;
	height: 73px;*/
}

.logo img{
	width: 200px;
	/*height: auto;*/
}

/*Image slideshow*/
section{
	
}

.slide{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 806px;
	height: 454px;
}

.slide img{
	width: 100%;
	height: auto;
}

/*Website footer*/
footer{
	color: White;
	position: absolute;
	bottom: 0;
	width: 100%;
	display: flex;
	background-color: rgb(160, 53, 52);
}

footer div{
	padding-top: 5px;
	padding-bottom: 5px;
}

.impic{
	margin: auto;
	width: 73px;
	height: 73px;
}

.impic img{
	width: 100%;
	height: auto;
}

.ruis{
	margin: auto;
	width: 60px;
	height: 73px;
}

.ruis img{
	width: 100%;
	height: auto;
}

.aiccopn{
	margin: auto;
	width: 204px;
	height: 73px;
}

.aiccopn img{
	width: 100%;
	height: auto;
}

table{
	margin: auto;
}

tr{
	text-align: left;
}

.number{
	text-align: right;
}

/*********/
.underconstruction{
	display: block;
	margin-right: auto;
	margin-left: auto;
}
